
@import "/src/app/variables.scss";

.spotify-wrap {
  height: 156px;

  @media(min-width: map-get($grid-breakpoints , "lg" )) {
    height: 56vh;
  }
}

.video-wrap {
  height: 156px;
  padding-top: 1.5rem;

  @media(min-width: map-get($grid-breakpoints , "sm" )) {
    height: 300px;
  }

  @media(min-width: map-get($grid-breakpoints , "md" )) {
    height: 300px;
  }

  @media(min-width: map-get($grid-breakpoints , "lg" )) {
    height: 500px;
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  @media(min-width: map-get($grid-breakpoints , "xl" )) {
    height: 500px;
  }
}
