@import "/src/app/variables.scss";

.image-container {
  width: 100%;

  .logo-container {
    position: absolute;
    top: 2rem;
    width: 100%;
    padding-right: 2rem;

    .logo-col {
      width: 17%;
    }

    .logo {
      width: 100%;
      border-radius: 50%;
    }

    .mobile-menu {
      display: none;
      color: $blow-house-red;
      font-size: 1.75rem;
      background-color: $dark-accent;
      padding: 8px 10px;
      border-radius: 8px;
      position: absolute;
      z-index: 3;

      @media(max-width: map-get($grid-breakpoints , "md" )) {
        display: inline;
      }
    }


    .mobile-menu-items {
      position: absolute;
      background-color: $dark-accent;
      top: 44px;
      z-index: 2;
      margin-top: -44px;
      border-radius: 8px;
      padding: 44px 10px 15px 10px;

      .menu-item {
        color: $text-color;
        display: block;
        text-decoration: none;
        font-size: 1.15rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .menu {
      text-align: center;
      padding-top: 5px;

      .menu-item {
        color: $text-color;
        display: block;
        text-decoration: none;
        font-size: 1.15rem;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      @media(max-width: map-get($grid-breakpoints , "md" )) {
        display: none;
      }
    }
  }
}

.text-container {
  position: relative;
  // margin-top: -65px;
  color: $text-color;

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10vw solid #4d4d4d;
    border-right: 100vw solid transparent;
    margin-top: -9.8vw;
  }

  .text-block {
    width: 100%;
    background-color: $bg-color;


  }
  .streaming{
    border: 2px solid $blow-house-red;
    border-radius: 5px;
  }
}
