@import "/src/app/variables.scss";

.image-container {
  width: 100%;
  position: relative;
  
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .logo-container {
    position: absolute;
    top: 2rem;
    width: 100%;
    padding-right: 2rem;

    .logo-col {
      width: 17%;
    }

    .logo {
      width: 100%;
      border-radius: 50%;

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10vw solid #000000;
    border-right: 100vw solid transparent;
    margin-top: -9.8vw;
  }
}

.header-row {
  .title {
    font-family: "CloisterBlack";
    text-align: left;
    font-size: 8vw;
    padding-left: 2vw;
    margin-top: -3vw;
    z-index: 2;
    margin-bottom: unset;
    line-height: unset;

    // margin-top: -65px;
    // z-index: 2;
    // padding: 0 15rem 0 0;


    // @media(max-width: map-get($grid-breakpoints , "xl" )) {
    //   margin-top: -50px;
    //   padding: 0 20rem 0 0;
    // }

    // @media(max-width: map-get($grid-breakpoints , "lg" )) {
    //   margin-top: -40px;
    //   padding: 0 15rem 0 0;
    // }
    // @media(max-width: map-get($grid-breakpoints , "md" )) {
    //   margin-top: -25px;
    //   padding: 0 10rem 0 1rem;
    // }
    @media(max-width: map-get($grid-breakpoints , "md" )) {
      text-align: center;
      font-size: 9vw;
      padding: 0;
      margin-top: -4vw;
    }
  }

  .header-text-wrap {
    margin-top: -1vw;
    z-index: 3;

    a {
      font-weight: bold;
      font-family: Anton,sans-serif;
      color: $primary-color;
      text-decoration: none;
      font-size: 2.15rem;


      @media(max-width: map-get($grid-breakpoints , "sm" )) {
        font-size: 1.35rem;
      }

      &:hover {
        color: $accent-color;
      }

      &.active-link {
        color: $accent-color;

        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }
}
