<div class="image-container">
  <img src="../../../assets/black-and-white-crop-4.jpeg" alt="Image Of Blow House on a Mardi Gras Parade Float" class="w-100" loading="eager" fetchpriority="high">
  <div class="logo-container">
    <div class="row mx-0 justify-content-end">
      <a [routerLink]="'/'" class="col-auto px-0 logo-col">
        <img src="../../assets/logo.jpg" alt="Blow House Logo" class="logo" loading="eager">
      </a>
    </div>
  </div>
  <div class="triangle"></div>
</div>
<div class="row mx-0 header-row">
  <h1 class="col-12 title">
    Blow House Brass Band
  </h1>
  <div class="header-text-wrap col px-0">
    <div class="row mx-0 justify-content-center">
      <a [routerLink]="'/'" [ngClass]="{'active-link': this.currentUrl === '/'}" class="col-auto">Home</a>
      <a [routerLink]="'/contact'" [ngClass]="{'active-link': this.currentUrl === '/contact'}" class="col-auto">Contact</a>
      <a href="https://forms.gle/JuEy3aPKBddcRBGVA" target="_blank" class="col-auto" [ngClass]="{'active-link': this.currentUrl === '/store'}">Store</a>
      <a [routerLink]="'/media'" [ngClass]="{'active-link': this.currentUrl === '/media'}" class="col-auto">Media</a>
      <!-- <a [routerLink]="'/events'" [ngClass]="{'active-link': this.currentUrl === '/events'}" class="col-auto">Events</a> -->
    </div>
  </div>
</div>
