@import "/src/app/variables.scss";

.image-container {
  width: 100%;
  position: relative;

  .logo-container {
    position: absolute;
    top: 2rem;
    width: 100%;
    padding-right: 2rem;

    .logo-col {
      width: 17%;
    }

    .logo {
      width: 100%;
      border-radius: 50%;
    }
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10vw solid #000000;
    border-right: 100vw solid transparent;
    margin-top: -9.8vw;
  }
}

.header-row {
  .title {
    font-family: "CloisterBlack";
    font-size: 8vw;
    padding-left: 2vw;
    margin-top: -3vw;
    z-index: 2;


    // margin-top: -65px;
    // z-index: 2;
    // padding: 0 15rem 0 0;


    // @media(max-width: map-get($grid-breakpoints , "xl" )) {
    //   margin-top: -50px;
    //   padding: 0 20rem 0 0;
    // }

    // @media(max-width: map-get($grid-breakpoints , "lg" )) {
    //   margin-top: -40px;
    //   padding: 0 15rem 0 0;
    // }
    // @media(max-width: map-get($grid-breakpoints , "md" )) {
    //   margin-top: -25px;
    //   padding: 0 10rem 0 1rem;
    // }
    // @media(max-width: map-get($grid-breakpoints , "sm" )) {
    //   margin-top: -12px;
    //   padding: 0 5rem 0 1rem;
    // }
  }

  .header-text-wrap {
    margin-top: -1vw;
    z-index: 3;
  }
}
