<div class="image-container">
  <img src="../../../assets/black-and-white-crop-4.jpeg" alt="Image Of Blow House on a Mardi Gras Parade Float" class="w-100">
  <div class="logo-container">
    <div class="row mx-0 justify-content-end">
      <a [routerLink]="'/'" class="col-auto px-0 logo-col">
        <img src="../../assets/logo.jpg" alt="Blow House Logo" class="logo">
      </a>
    </div>
  </div>
  <div class="triangle"></div>
</div>
<div class="row mx-0 header-row">
  <div class="col-12 title">
    Blow House Brass Band
  </div>
  <div class="header-text-wrap col px-0">
    <app-header-text></app-header-text>
  </div>
</div>
