<div class="row my-5">
  <div class="col-12 text-center contact-text">
    <h3>For Booking, Media, or Business Inquiries, Contact Us Via Email at </h3>
    <div class="col-12 text-center contact-text">
      <p class="email-link">
        <a href="mailto:blowhousebrass@gmail.com" target="_blank">
          BlowHouseBrass@gmail.com
        </a>
      </p>
    </div>
  </div>
  </div>
  
  <div class="w-100 text-center pb-3">
    <a href="https://www.facebook.com/BlowHouseBrassBand" target="_blank">
      <span class="fa-brands fa-facebook-f icon"></span>
    </a>&nbsp; &nbsp;
    <a href="https://mobile.twitter.com/blowhousebrass" target="_blank">
      <span class="fa-brands fa-twitter icon"></span>
    </a>&nbsp; &nbsp;
    <a href="https://www.instagram.com/blow_house/" target="_blank">
      <span class="fa-brands fa-instagram icon"></span>
    </a>&nbsp; &nbsp; &nbsp;
    <a href="https://www.youtube.com/channel/UCISLzojZEfh7QL7L2FdSqWg" target="_blank">
      <span class="fa-brands fa-youtube icon"></span>
    </a>
  </div>
  <div class="col-12 text-center">
    <br><b>BLOW HOUSE BRASS BAND  | </b>
    <i>Mobile, AL</i>
  </div>