@import "/src/app/variables.scss";

.contact-text {
  text-align: center;
  font-size: 1.75rem;

  @media(max-width: map-get($grid-breakpoints , "sm" )) {
    font-size: 1.25rem;


}

.email-link {text-decoration: none;
  color: white;

  &:hover {
    color: $blow-house-red;
  }

   }
}

.icon {
  color: white;
  font-size: 65px;
  object-fit: cover;
  padding: 0 1rem;

  @media(max-width: map-get($grid-breakpoints , "sm" )) {
    font-size: 35px;
  }

  &:hover {
    color: $blow-house-red;
  }

  
}
