<div class="row my-5">
  <div class="col-12 text-center contact-text">
    <h3>For Booking, Media, or Business Inquiries, Contact Us Via Email at </h3>
    <div class="col-12 text-center contact-text">
      <p class="email-link">
        <a href="mailto:blowhousebrass@gmail.com" target="_blank">
          &nbsp;BlowHouseBrass@gmail.com&nbsp;
        </a>
        <br><br>
      </p>
    </div>
  </div>
  <div class="image-container text-center">
    <a href="https://www.facebook.com/messages/t/142419682630899" target="_blank">
      <img src="../../../assets/Throwdown.jpg" alt="Image Of Blow House Throwing Down"
        class="w-100 text-center image-fluid">
    </a>
  </div>
</div>