
<!--
    TODO:
    Design 
    Content Layout
    Header

-->

<div clas="icon_container">
        <a href="https://www.facebook.com/BlowHouseBrassBand" target="_blank">
            <img class="icon" alt="Facebook" style="width: 30px; height: 30px; object-fit: cover;" src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_45,h_45,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/0fdef751204647a3bbd7eaa2827ed4f9.png">
        </a>
   
        <a href="https://mobile.twitter.com/blowhousebrass" target="_blank">
            <img class="icon" alt="Twitter" style="width: 30px; height: 30px; object-fit: cover;" src="https://static.wixstatic.com/media/c7d035ba85f6486680c2facedecdcf4d.png/v1/fill/w_45,h_45,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c7d035ba85f6486680c2facedecdcf4d.png">
        </a>
        <a href="https://www.instagram.com/blow_house/" target="_blank">
            <img class="icon" alt="Instagram" style="width: 30px; height: 30px; object-fit: cover;" src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_45,h_45,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/01c3aff52f2a4dffa526d7a9843d46ea.png">
        </a>
        <a href="https://www.youtube.com/channel/UCISLzojZEfh7QL7L2FdSqWg" target="_blank">
            <img class="icon" alt="YouTube" style="width: 30px; height: 30px; object-fit: cover;" src="https://static.wixstatic.com/media/78aa2057f0cb42fbbaffcbc36280a64a.png/v1/fill/w_45,h_45,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/78aa2057f0cb42fbbaffcbc36280a64a.png">
        </a>
    <div>
        <p> Email Us: 
            <a href="mailto:blowhousebrass@gmail.com" target="_blank">
                BlowHouseBrass@gmail.com
            </a>
        </p>
    </div>        
     
    
</div>