@import "/src/app/variables.scss";

.contact-text {
  text-align: center;
  font-size: 1.75rem;

  @media(max-width: map-get($grid-breakpoints , "sm" )) {
    font-size: 1.25rem;
  }
}

.img-container {
  position:relative;
  padding:90%;
  text-align: center;
}

img {
  max-width: 40%;
  border-radius: 10px;
}

