    <ngb-carousel>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/FNL.jpg" alt="Image Of Blow House on playing in Cathedral Square" class="w-100 text-center" width="100%">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/destroyer.jpg" alt="Image Of Blow House welcoming a naval destroyer" class="w-100 text-center" width="100%">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/MerryWidow.jpg" alt="Image Of Blow House trombones" class="w-100 text-center" >
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/press-photos/Trombones.JPG" alt="Image Of Blow House trombones" class="w-100 text-center" >
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets//ballroom.JPG" alt="Image Of Blow House trombones" class="w-100 text-center" >
        </div>
      </ng-template>
    
    </ngb-carousel>
    <!--           
        <img src="../../../assets/LiveFromIronHand.jpg" alt="Live From Iron Hand Album cover" class=" w-100 text-center album-img">
    -->