<ngb-carousel>

  <ng-template ngbSlide>
    <div>
      <img src="../../../assets/FNL.jpg" alt="Image Of Blow House on playing in Cathedral Square" class="w-100 text-center" width="100%" loading="lazy">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="../../../assets/destroyer.jpg" alt="Image Of Blow House welcoming a naval destroyer" class="w-100 text-center" width="100%" loading="lazy">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="../../../assets/MerryWidow.jpg" alt="Image Of Blow House trombones" class="w-100 text-center" loading="lazy">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="../../../assets/press-photos/Trombones.JPG" alt="Image Of Blow House trombones" class="w-100 text-center" loading="lazy">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="../../../assets/ballroom.JPG" alt="Image Of Blow House trombones" class="w-100 text-center" loading="lazy">
    </div>
  </ng-template>

</ngb-carousel>
<!--           
    <img src="../../../assets/LiveFromIronHand.jpg" alt="Live From Iron Hand Album cover" class=" w-100 text-center album-img">
-->