$bg-color: #4d4d4d;
$text-color: white;
$dark-accent: #141414;
$blow-house-red: #FF0008;
$accent-color: $blow-house-red;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1200px
);
