$bg-color: #000000;
$text-color: white;
$dark-accent: #141414;
$blow-house-red: #FE000C;
$accent-color: white;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1200px,
  xxl: 1400px
);
