<hr class="mt-5">
<div class="row align-items-center">
  <div class="col-12 col-md-3 text-center">
    <img src="../../../assets/logo-inverse.png" alt="Image Of Black Blow House Logo"
      class="w-100 text-center inverse-logo" loading="lazy">
  </div>
  <div class="col">
    <h1 class="press-header text-center">
      Electronic Press Kit
    </h1>
  </div>
</div>
<hr>
<br>
<div class="row mx-0">
  <div class="col-12">
    <p>
      <i>The sound of Mobile Mardi Gras!</i> Blow House Brass Band is a Second Line Jazz ensemble based out of
      Mobile, Alabama. Blow House has performed for revelers of all kinds at parades, balls, parties, and
      festivals since 2007. Described as "The Sound of Mardi Gras," Blow House plays a blend of classic Carnivale
      fare and down and dirty funk culminating in a unique and lively musical experience... just like the Azalea
      City we call home!
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <h2 class="press-header text-center">Social Media and Streaming</h2>
  <div class="col-12 col-md-auto text-center text-md-left">
    <br>
    <a href="https://www.facebook.com/BlowHouseBrassBand/">
      <span class="fa-brands fa-facebook-f icon"></span>Facebook
    </a>
    <br>
    <a href="https://www.youtube.com/channel/UCISLzojZEfh7QL7L2FdSqWg">
      <span class="fa-brands fa-youtube icon"></span>Youtube
    </a>
    <br>
    <a href="https://www.instagram.com/blow_house/">
      <span class="fa-brands fa-instagram icon"></span>Instagram
    </a>
  </div>
  <div class="col-12 col-md-auto text-center text-md-left">
    <br><br>
    <a href="https://open.spotify.com/artist/5eFDkvvIjHSaKorew9SD1E">
      <span class="fa-brands fa-spotify icon"></span>Spotify
    </a>
    <br>
    <a href="https://twitter.com/blowhousebrass/">
      <span class="fa-brands fa-twitter icon"></span>Twitter
    </a>
    <br>
    <a href="https://music.apple.com/us/artist/blow-house-brass-band/1590419043">
      <span class="fa-brands fa-apple icon"></span>Apple Music
    </a>
  </div>
</div>
<br><br>
<div class="text-center">
  <h2 class="press-header">Press Photos</h2>
  <div class="row mx-0 justify-content-center">
    <div *ngFor="let photoName of pressPhotosMap" class="col-lg-4 col-md-6 col-12 px-0">
      <img class="press-image" [src]="'../../../assets/press-photos/' + photoName" [alt]='"Photo of " + photoName' loading="lazy">
    </div>
  </div>
  <p>Pictures and vidoes for Press and Promotional Use can be found
    <a href="https://drive.google.com/drive/folders/1pC5K7o7JOw6IFmwloPNntE02dyuO1cBs?usp=sharing" target="_blank">
      <span class="promo-link">here</span>
    </a>.
  </p>
</div>
<br>
<div class="text-center">
  <h2 class="press-header">Contact</h2>
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <img src="../../../assets/IMG-8622.JPG" alt="Contact Us" class="contact-photo" loading="lazy">
    </div>
    <div class="col-auto">
      <table class="center">
        <tr><td><a [routerLink]="'/'" class="col-auto" target="_blank">BlowHouseBrass.com</a></td></tr>
        <tr><td><a href="mailto:blowhousebrass@gmail.com" target="_blank">BlowHouseBrass@gmail.com</a></td></tr>
         <tr><td>Andrew Landry - (251) 455-9404</td></tr>
         <tr><td>Jonathan Landry - (251) 472-5659</td></tr>
        <tr><td>David Anthony - (251) 753-0019</td></tr>
        <tr><td>Patrick Gormandy - (251) 366-4564</td></tr>
      </table>
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <h2 class="press-header">Other Appearances in the Media</h2>
  <table class="center media-link">
    <tr><td><a href="https://www.wkrg.com/whats-working/whats-working-from-scrawny-kids-to-in-demand-mardi-gras-brass-band/" target="_blank">"What's Working"</a></td></tr>
    <tr><td><a href="https://mynbc15.com/newsletter-daily/friday-night-live-mobiles-free-quarterly-concert-series-returns-feb-10" target="_blank">"Friday Night Live"</a></td></tr>
    <tr><td><a href="https://www.fox10tv.com/2022/07/06/mardi-gras-july-fairhope-brewing-company/" target="_blank">"Mardi Gras In July"</a></td></tr>
    <tr><td><a href="https://www.mobilecountyal.gov/community_events/events/caroling-with-blow-house-2021-2021-12-18/" target="_blank">"Caroling With Blow House"</a></td></tr>
    <tr><td><a href="https://www.facebook.com/watch/?v=3577955912280476">"Fandoms Anonymous Podcast: The Year without Mardi Gras"</a></td></tr>
  </table>
</div>
<br>
<hr>
