<div *ngIf="eventItems && eventItems.length > 0" class="row">
  <h2 class="col-12 pt-5">Upcoming Events</h2>
  <div class="col-12">
    <ng-container *ngFor="let event of eventItems; let i = index;">
      <div [ngClass]="{'off-gray': i % 2 == 0}" class="event-item">
        <div class="row event-item-row mx-0">
          <div class="col-auto px-0">
            <div class="row mx-0">
              <div class="col-12 d-flex d-lg-none px-0">
                <div class="row mx-0">
                  <div class="col-12 px-0 summary-text">{{ event.summary }}</div>
                  <div *ngIf="event.location" class="col-12 px-0 location">{{ event.location }}</div>
                </div>
              </div>
              <div class="col-auto date-col px-0">
                {{ event.start.dateTime || event.start.date | date: 'mediumDate' }}
              </div>
              <div class="col-auto time-col px-0">
                {{ event.start.dateTime | date: 'shortTime' }}
                <!-- - {{ event.end.dateTime | date: 'shortTime' }} -->
              </div>
            </div>
          </div>
          <div class="col d-none d-lg-flex">
            <div class="summary-text">{{ event.summary }}&nbsp;</div>
            <div *ngIf="event.location" class="location">-&nbsp;{{ event.location }}</div>
          </div>
          <div *ngIf="event.start.dateTime" class="col-auto button-col px-0">
            <a target="_blank" [href]="event.htmlLink" class="w-100 btn btn-primary">Add to Calendar</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="showLoadMore" class="col-12">
    <a class="theme-link" (click)="loadMore()">Load more</a>
  </div>
</div>
