<div class="text-container">
  <div class="text-block">
    <div class="row mx-0">
      <div class="row mx-0">
        <div class="col-12">
          <br><br>
          <div class="w-100 text-center py-2 py-md-3">
            <i>The sound of Mobile Mardi Gras!</i> Blow House Brass Band is a Second Line Jazz ensemble based out of
            Mobile, Alabama. Blow House has performed for revelers of all kinds at parades, balls, parties, and
            festivals since 2007. Described as "The Sound of Mardi Gras," Blow House plays a blend of classic Carnivale
            fare and down and dirty funk culminating in a unique and lively musical experience... just like the Azalea
            City we call home!
          </div>
          <br>
          <div class="col-12 text-center">
            <br>
            <iframe class="streaming" style="border-radius:12px"
              src="https://open.spotify.com/embed/artist/5eFDkvvIjHSaKorew9SD1E?utm_source=generator&theme=0"
              width="100%" height="380" frameBorder="0" allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"></iframe>
          </div>
            <div class="col-12">
               <app-calendar></app-calendar>
            </div> 
          <div class="image-container">
            <app-media-carousel></app-media-carousel>
          </div>
          <div class="w-100 text-center py-2 py-md-3 fs-5">
            <p>
              "Blow House Brass Band exemplifies the new life and energy that keeps the city growing and thriving."
              <br><i>- Lagniappe Weekly</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
