/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "/src/app/variables.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

@font-face{
  font-family: Anton;
  src: url('./assets/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: regular;
}
@font-face{
  font-family: CloisterBlack;
  src: url('./assets/fonts/CloisterBlack.ttf') format('truetype');
  font-weight: regular;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $black;
  color: $text-color;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
